@import '../common/variables';

.image--border{
  &:before{
    content:'';
    position: absolute;
    top:0;
    left:0;
    right:0;
    bottom: 0;
    box-shadow: inset 0px 0px 0px 1px #FFF;
    display: block;
  }
  position: relative;
  z-index: 999;
}
.image--zoom{
  position: fixed;
  top:0;
  right:0;
  bottom: 0;
  left:0;
  z-index:9999;
  display: flex;
  justify-content:center;
  align-items:center;
  background: rgba(#000,0.7);
  .element__image{
    max-height: 100%;
  }
}
.image{
  position:relative;
}

.element{
  margin-bottom: 80px;
  position: relative;

  &__image{
    display: inline-block;
    max-width: 100%;
  }

  &__content{
    display: webkit-flex;
    display: flex;
    -webkit-flex-direction:column;
    flex-direction:column;
    &--horizontal{
      -webkit-flex-direction:row;
    }
    &--root{
      overflow: hidden;
    }
  }
}