@import '../common/variables';

.element{
  &__info{
    display: none;
    &__title{
      font-family: 'Roboto Mono';
      font-weight: 300;
      font-size: 20px;
      color: $brand-alt;
    }
  }
  &__image{
    display: inline-block;
    max-width: 100%;
  }
  &__mesh{
    display: flex;
  }
  &--root{
    border:1px solid $light-grey;
    padding:15px;
    margin: 15px;
    > .element__info{
      display: block;
    }
  }
}